[submodule "bundle/git.vim"]
	path = bundle/git.vim
	url = https://github.com/motemen/git-vim.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/bufexplorer.vim"]
	path = bundle/bufexplorer.vim
	url = https://github.com/vim-scripts/bufexplorer.zip.git
